.top1{
    width: 1903px;
    height: 60px;
    background-color: #ffffff;
}

.new {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 10px;
    line-height: 1;
    transform: scale(0.8);
}

.top1-left{
   box-sizing: border-box;
    float: left;
    margin-top: 10px;
}

.top1-left a{
    margin-left: 26px;
}

.top1-center-first {
    position: relative;
} 

.top1-center-first:before{
    content: "";
    position: absolute;
    bottom: 1px;
    left: -25px;
    width: 120px;
    border: 1px solid red;
    transition: all 0.4s;
    opacity: 0;
}

.top1-center-first:hover:before {
    opacity: 1;
}

.top1-center-hover{
    position: absolute;
    display: none;
    width: 1903px;
    height: 155px;
    line-height: 22px;
    text-align: center;
    top: 59px;
    left: -652px;
    border-top: 1px solid #dfdfdf;
    background-color: #ffffff;
    z-index:1;
}

.top1-center-first:hover .top1-center-hover,
.top1-center-hover:hover{
    display: block;
}


.top1-center-hover a,
.top1-center-hover-1 a,
.top1-center-hover-2 a{
display: inline-block;
margin-right: 69px;
vertical-align: top;
margin-top: 45px;
}

.top1-center-hover a:hover,
.top1-center-hover-1 a:hover,
.top1-center-hover-2 a:hover{
    color: #eb0028;
}

.top1-center-hover li i,
.top1-center-hover-1 li i,
.top1-center-hover-2 li i{
    font-size: 26px;
}

.top1-center{
    margin-left: 234px;
    line-height: 60px;
    height: 60px;
    float: left;
}

.top1-center div{
    float: left;
    font-size: 14px;
    color: #000000;
    padding-right: 40px;
}

.top1-center a i{
    margin-right: 10px;
}

.top1-center-second {
    position: relative;
}

.top1-center-second:before{
    content: "";
    position: absolute;
    bottom: 1px;
    left: -20px;
    width: 70px;
    border: 1px solid red;
    transition: all 0.4s;
    opacity: 0;
}

.top1-center-second:hover:before {
    opacity: 1;
}

.top1-center-hover-1{
    position: absolute;
    display: none;
    width: 1903px;
    height: 130px;
    line-height: 22px;
    text-align: center;
    top: 59px;
    left: -779px;
    border-top: 1px solid #dfdfdf;
    background-color: #ffffff;
    z-index: 2;
}

.top1-center-second:hover .top1-center-hover-1,
.top1-center-hover-1:hover{
    display: block;
}


.top1-center-thirth {
    position: relative;
}

.top1-center-thirth:before{
    content: "";
    position: absolute;
    bottom: 1px;
    left: -20px;
    width: 63px;
    border: 1px solid red;
    transition: all 0.2s;
    opacity: 0;
}

.top1-center-thirth:hover:before{
    opacity: 1;
}

.top1-center-hover-2{
    position: absolute;
    display: none;
    width: 1903px;
    height: 130px;
    line-height: 22px;
    text-align: center;
    top: 59px;
    left: -859px;
    border-top: 1px solid #dfdfdf;
    background-color: #ffffff;
    z-index: 2;
}

.top1-center-thirth:hover .top1-center-hover-2,
.top1-center-hover-2:hover{
    display: block;
}

.top1-center-fouth {
    position: relative;
}

.top1-center-fouth:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 65px;
    border: 1px solid red;
    transition: all 0.2s;
    opacity: 0;
} 

.top1-center-fouth:hover:before{
    opacity: 1;
}

.top1-center-fifth {
    position: relative;
}

.top1-center-fifth:before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 77px;
    border: 1px solid red;
    transition: all 0.2s;
    opacity: 0;
} 

.top1-center-fifth:hover:before{
    opacity: 1;
}





.top1-right{
float: right;
line-height: 60px;
}

.top1-right-first,
.top1-right-second,
.top1-right-thirth{
    position: relative;
    display: inline-block;
}

.top1-right-first::before,
.top1-right-second::before,
.top1-right-thirth::before{
    content: "";
    position: absolute;
    bottom:5px;
    left: 12px;
    width: 60px;
    border: 1px solid red;
    transition: all 0.2s;
    opacity: 0;
} 

.top1-right-first:hover::before,
.top1-right-second:hover::before,
.top1-right-thirth:hover::before{
    opacity: 1;
}


.top1-right-hover-1{
    position: absolute;
    display: none;
    width: 320px;
    height: 276px;
    line-height: 22px;
    text-align: left;
    top: 59px;
    left: -187px;
    border-top: 1px solid #dfdfdf;
    background-color: #ffffff;
    z-index: 2;
}

.top1-right-first:hover .top1-right-hover-1,
.top1-right-hover-1:hover{
    display: block;
}

.top1-right-hover-1 ul{
    margin:0 20px;
    margin-top: 20px;
    line-height: 4;
    font-size: 13px;
    height: 256px;
   
}

.top1-right-hover-1 ul li{
     color: #868a8a;
    border-bottom: 1px solid #dfdfdf;
}

.top1-right-hover-1 ul li:hover{
    color: #101920;
}

.top1-right-hover-1 a:nth-last-child(1) li{
    color: #42a1ce;
    margin: 20px 0px;
    border: none;
}

.top1-right-hover-1 a:nth-last-child(1) li:hover{
    text-decoration: underline;
}


.top1-right-hover-2{
    position: absolute;
    display: none;
    overflow: hidden;
    width: 400px;
    height: 188px;
    line-height: 22px;
    text-align: center;
    top: 60px;
    left: -270px;
    background-color: #ffffff;
    border-top: 1px solid #dfdfdf;
    z-index: 2;
}

.top1-right-second:hover .top1-right-hover-2,
.top1-right-hover-2:hover{
    display: block;
}

.top1-right-hover-one {
    width: 100%;
    font-size: 15px;
    color: #b7b8b7;
    border-bottom: 1px solid #dfdfdf;
    margin-top: 55px;
    padding-bottom: 30px;
}

.top1-right-hover-two{
    position: relative;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    width: 360px;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 14px;
    background-color: #eb0028;
    text-align: center;
}

.top1-right-hover-two:hover{
    color: white;
}

.top1-right-hover-two::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: rgba(158, 4, 4, 0.4);
    transition: all 0.5s;
}

.top1-right-hover-two::after{
    content: "去购物";
    position: relative;
    z-index: 3;
}

.top1-right-hover-two:hover::before{
    width: 360px;

}


.top1-right span{
    font-size: 22px;
    font-weight: 400;
    float: left;
    margin-left:17px;
}

.oneplus-family {
    position: relative;
    width: 1903px;
    height: 300px;
    background-image: url(../img/oneplus-first-1.jpg);
    background-position: -315px 0;
}



.oneplus-family-content {
    position: absolute;
    left: 476px;
    top: 50px;
    width:500px;
    height: 200px;
}

.oneplus-family-content h3{
    color: white;
    font-size: 30px;
    line-height: 2.4;
}

.oneplus-family-content p{
        margin-bottom: 40px;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.oneplus-family-content a span {
    display: inline-block;
    color: white;
    font-size: 15px;
}

.oneplus-family-content a span:hover {
    text-decoration: underline;
}

.oneplus-7T {
    position: relative;
    width: 1903px;
    height: 680px;
    margin-top: 10px;
    background-image: url(../upload/oneplus-first-2.jpg);
        background-position: -315px 0;
}

.oneplus-7T-content {
    position: absolute;
    left: 476px;
    top: 50%;
    width:500px;
    height: 264px;
    margin-top: -132px;
}

.oneplus-7T-content h3{
    color: #000000;
    font-size: 48px;
}

.oneplus-7T-content p:nth-child(2){
    color: #000000  ;
    font-size: 24px;
    line-height: 1.5;
}

.oneplus-7T-content p:nth-child(3){
    color: #000000  ;
    font-size: 18px;
    font-weight: 333;
    line-height: 1.5;
}

.oneplus-7T-content-buy {
    position: relative;
    margin-top: 40px;
    text-align: center;
    width: 162px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #101920;
}

.oneplus-7T-content-buy:hover{
    color: white;
    z-index: 1;
}

.oneplus-7T-content-buy span {
    font-size: 16px;
}

.oneplus-7T-content-buy:after {
    content: "";
    position: absolute;
    left: 0;
    height: 50px;
    width: 0;   
    background-color: #000000;
    transition: all 0.25s;
} 

.oneplus-7T-content-buy:hover:after {
    width: 162px;
    z-index: -1;
}

.oneplus-7T-content-buy:hover::before{
    color: white;
}

.oneplus-7T-content a:nth-last-child(1){
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.oneplus-7T-content a:nth-last-child(1):hover{
    text-decoration: underline;
}


.oneplus-7T-limit {
    position: relative;
    width: 1903px;
    height: 680px;
    margin-top: 10px;
    background-image: url(../upload/oneplus-first-3.jpg);
        background-position: -315px 0;
}

.oneplus-7T-limit-content {
    position: absolute;
    left: 476px;
    top: 50%;
    width:500px;
    height: 321px;
    margin-top: -160.5px;
}

.oneplus-7T-limit-content h3{
    color: white;
    font-size: 48px;
}

.oneplus-7T-limit-content p:nth-child(2){
    color: white  ;
    font-size: 24px;
    line-height: 1.5;
}

.oneplus-7T-limit-content p:nth-child(3){
    color: white;
    font-size: 18px;
    font-weight: 333;
    line-height: 3;
}

.oneplus-7T-limit-content-buy {
    position: relative;
    margin-top: 40px;
    text-align: center;
    width: 162px;
    height: 50px;
    line-height: 50px;
    color: white;
    border: 1px solid white;
}

.oneplus-7T-limit-content-buy:hover{
    color: black;
    z-index: 1;
}

.oneplus-7T-limit-content-buy span {
    font-size: 16px;
}

.oneplus-7T-limit-content-buy:after {
    content: "";
    position: absolute;
    left: 0;
    height: 50px;
    width: 0;   
    background-color: white;
    transition: all 0.25s;
} 

.oneplus-7T-limit-content-buy:hover:after {
    width: 162px;
    z-index: -1;
}

.oneplus-7T-limit-content-buy:hover::before{
    color: black;
}

.oneplus-7T-limit-content a:nth-last-child(1){
    display: block;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.oneplus-7T-limit-content a:nth-last-child(1):hover{
    text-decoration: underline;
}

.as{
    width:1903px;
    height: 1020px;
    overflow: hidden;
}

.as a{
    display: inline-block;
      overflow: hidden; 
    width: 936.5px;
    height: 500px;
    margin: 5px;
    background-position: -170px 0;
}

.as a:nth-child(1) {
    background-image: url(../upload/oneplus-first-4.jpg);
}
.as a:nth-child(2) {
    background-image: url(../upload/oneplus-first-5.jpg);
}
.as a:nth-child(3) {
    background-image: url(../upload/oneplus-first-6.jpg);
}
.as a:nth-child(4) {
    background-image: url(../upload/oneplus-first-7.jpg);
}

.as div {
    text-align: center;
    width: 915px;
}

.as-content-1 {
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
} 

.as-content-bottom {
    font-weight: 549;
    margin-top: 10px;
    font-size: 20px;
}

.as-content-2 {
    font-weight: bold;
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

.as-content-bottoms {
    font-weight: 549;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

.shot{
    position: relative;
    width: 100%;
    height: 720px;
    margin-top: 10px;
    background-image: url(../upload/oneplus-first-8.jpg);
}

.shot-content {
    position: absolute;
    width: 100%;
    height: 140px;
    text-align: center;
    top: 50%;
    margin-bottom: -70px;
    color: white;
}

.shot-content p{
    color: white;
    font-size: 48px;
}

.join {
    position: relative;
    margin: auto;
    width: 134px;
    height: 44px;
    font-size: 16px;
    margin-top: 45px;
    text-align: center;
    line-height: 44px;
    border:  2px solid white;
}

.join:hover{
    color: black;
    z-index: 1;
}

.join::before{
    content: "";
    position: absolute;
    left: 0px;
    width: 0px;
    height: 45px;
    background-color: #fff;
    transition: all 0.25s;
}

.join:hover:before{
    width: 135px;
    z-index: -1;
}

.about {
    width: 100%;
    height: 600px;
    background-color: #f6f6f6;
    margin-top: 10px;
    overflow: hidden;
}

.about .container{
     margin-top: 110.5px;
     height: 370px;
}

.about .container a img{
    width: 360px;
    height: 224px;

}

.about .container div {
    float: left;
    margin-right: 60px;
}

.about .container p{
    margin: 20px 0px 10px 0px;
    color: #626262;
    font-size: 16px ;
}

.about .container h1{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.about .container a:nth-child(4){
color: #1ba3d1;
font-size: 16px;
}

.ast .container {
    height: 160px;
}

.ast {
    height: 160px;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
}

.ast a{
    display: inline-block;
    overflow: hidden;
    height: 160px;
    width: 297px;
    line-height: 160px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 125px 50px;
}

.ast span {
    display: block;
    padding-top: 40px;
    font-size: 16px;
    color: #565b62;
    box-sizing: border-box;
}

.ast a:nth-child(1) {
    background-image: url(../img/as-01.svg);
}
.ast a:nth-child(2) {
    background-image: url(../img/as-02.svg);
}
.ast a:nth-child(3) {
    background-image: url(../img/as-03.svg);
}
.ast a:nth-child(4) {
    background-image: url(../img/as-04.svg);
}

.footer {
    height: 570px;
    background-color: #fcfcfc;
}

.footer-all {
width: 1185px;
height: 294px;
    padding:36px 15px 20px 0px;
}

.footer-all dl {
    float: left;
    width: 240px;
}

.footer-all dt {
    padding: 0 20px;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    color: #101920;
}

.footer-all dd a {
    padding: 0 20px;
    font-size: 14px;
    color:#828282;
    line-height:3;
}

.footer-right{
    width: 225px;
    height: 100%;
    float: left;
}

.footer-right a:nth-child(1){
    display: block;
    float: right;
    color: #0099cc;
    font-size: 14px;
    margin-top: 10px;
}

.footer-right a i{
    float: left;
    line-height: 0.8;
}
.ico-call_v2 {
    font-size: 1.5em;
    vertical-align: middle;
}

.footer-right div {
    float: right;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    width: 120px;
    height: 40px;
    border: 1px solid ;
    margin: 20px 0px;
}

.footer-right div:hover{
    color: white;
    z-index: 1;
}


.footer-right div::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color:#000000;
    transition: all 0.25s;
}


.footer-right div:hover::before{
      width: 120px;
      z-index: -1;
}

.footer-right p{
    float: right;
    color: #b6b7b6;
}

.footer-right>i {
    overflow: hidden;
    text-align: right;
    margin-top: 10px;
    width: 100px;
    float: right;
}

.footer-right>i img{
    float: left;
    margin-left:20px;
    width:25px;
    height: 25px;
    margin-top: 10px;
    box-sizing: border-box;
}

.footer-right>i svg {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.footer-one {
    height: 50px;
    line-height: 50px;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #e2e2e2;
}

.footer-one img{
    margin-right: 10px;
}

.footer-one div{
    float: right;
    font-size: 12px;
    font-weight: 400;
}

.footer-one div a{
    color: #41a1ce;
}

.footer-two {
    float: left;
    margin-top: 10px;
    width:100%;
}

.footer-two-left {
    float: left;
    width: 600px;
}

.footer-two-left p,
.footer-two-left p>a{
       color: #999fa9;
       line-height: 4.5;
}

.footer-two-left img {
    vertical-align: middle;
}

.footer-two-right {
    float: left;
    text-align: right;
    margin-top: 20px;
    width: 600px;
}

.footer-two-right span{
    display: inline-block;
    margin: 0 10px;
    color: #e2e2e2;
}

.footer-two-right div{
    margin-top: 30px;
}

.footer-two-right div img{
    height: 30px;
    margin-left: 20px;
}

.footer-finish {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.footer-finish img{
width: 70px;
}

.footer-finish button{
    border: none;
    background-color: #fff;
}

.footer-finish button:active{
    
}